* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-size: var(--font-size-m);
  
  background-image: url("@static/fon.png");
  background-size: cover;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  font: inherit;
  border: none;
}

input {
  border: none;
}

p {
  text-align: left;
}
