* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-size: var(--font-size-l);
  background: var(--primary-contrast-color);
}

a {
  text-decoration: none;
}
a:active,
a:visited {
  color: var(--primary-color);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  font: inherit;
}

p {
  text-align: left;
}
