.footer {
  display: flex;
  background: var(--secondary-color);
  min-height: 30px;
  align-items: center;
  justify-content: center;
  color: var(--secondary-contrast-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}