:root {
  /* General */
  --primary-color: #40388c;

  --secondary-color: #f35d9b;

  --tertiary-color: #6b6b6b;

  --primary-contrast-color: white;

  /* Auxiliary colors*/
  --error-color: #ff0000;

  /* Font size */
  --font-size-xxl: 60px;
  --font-size-xl: 40px;
  --font-size-l: 24px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xs: 12px;

  /* Font family */
  --font-family-graffiti-theme: "Jack Brusher(RUS BY LYAJKA)";
}
