.wrapper {
    text-align: center;
    width: 100%;
}

.loginForm {
    padding: 10px;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.loginForm__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    padding: 10px;
    margin-bottom: 10px;
    transition: .2s;
}

.loginForm__input:active,
.loginForm__input:focus,
.loginForm__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}