.header {
  width: 100%; 

}

.header__list {
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 120px;
  padding: 0 40px;
  gap: 70px;
}

.menu__item {
  display: inline-block;
  padding: 0 20px;
}

.header__textName {
  color: black;
}