.profileInfo {
    display: flex;
    justify-content: space-between;
    margin: 22px 0;
}

.profileInfo__avatar {
    width: 350px;
    height: 400px;
    border: 1px solid #000000;
    border-radius: 40px;
    margin-right: 100px;
}

.profileInfo__content {
    border: 1px solid black;
    width: 100%;
}