.eventCard {
  max-width: 400px;
  min-height: 200px;
  border-radius: 10px;
}

.eventCard__info {
  padding: 40px 20px;
}

.eventCard__title {
  padding: 30px 70px 0 0;
  font-family: var(--font-family-graffiti-theme);
}
